{% extends 'base.html.twig' %}

{% block title %}New TypeOfCompany{% endblock %}

{% block body %}
<div class="container">
    <h1>Create a new type of company</h1>

    {{ include('type_of_company/_form.html.twig') }}

    <a href="{{ path('app_type_of_company_index') }}" class="btn btn-outline-dark">back to list</a>
</div>    
{% endblock %}
