{% extends 'base.html.twig' %}

{% block title %}New Company{% endblock %}

{% block body %}
<div class="container">
    <h1>Create a new company</h1>

    {{ include('company/_form.html.twig') }}

    <a href="{{ path('app_company_index') }}" class="btn btn-outline-dark">back to list</a>
</div>
{% endblock %}
